@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

@theme {
  --color-primary: var(--ant-color-primary);
  --color-primary-bg: var(--ant-color-primary-bg);
  --color-text-primary: var(--ant-color-text);
  --color-border: var(--ant-color-border-secondary);
  --color-gray: #595959;
  --shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.08);

  --animate-progress-indeterminate: progress-indeterminate 1.25s infinite linear;

  @keyframes progress-indeterminate {
    0% {
      transform: translateX(-100%) scaleX(0.2);
    }
    50% {
      transform: translateX(0%) scaleX(0.5);
    }
    100% {
      transform: translateX(100%) scaleX(0.2);
    }
  }
}

/* ===== KEY FRAMES ===== */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* ===== BASE CSS ===== */
@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  .ant-form-item-required {
    flex-direction: row-reverse;
    display: inline-flex;
    align-items: center;
  }
  .ant-form-item-required::after {
    display: none;
  }
  .ant-form-item-required::before {
    margin-right: 0;
    margin-left: 4px;
  }
  .lucide {
    width: 16px;
    height: 16px;
  }
}

/* ===== LEAFLET ===== */
.leaflet-default-icon-path {
  background-image: url('https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png');
}

/* Custom Ant Design Menu styles */
@layer components {
  .ant-menu-item {
    border-right: 2px solid transparent;
    transition: border-color 0.3s;
  }

  .ant-menu-item-selected {
    border-right: 2px solid var(--ant-color-primary) !important;
  }

  /* Menu icon size - Apply to all icons in Menu */
  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    font-size: 16px !important;
  }

  /* Hide group titles when sidebar is collapsed */
  .ant-layout-sider-collapsed .ant-menu-item-group-title {
    display: none;
  }

  .custom-sidebar-scrollbar .simplebar-scrollbar::before {
    @apply bg-gray!;
  }

  .ant-btn.ant-btn-lg .anticon {
    font-size: 16px !important;
    margin-top: 3px !important;
  }

  .ant-btn.ant-btn-icon-only .anticon {
    font-size: 16px !important;
  }

  .custom-breadcrumb ol li:last-child {
    font-weight: 500;
  }

  .static-modal-body {
    [class*='ant-modal-'][class*='-body'] {
      display: flex;
      flex-direction: column;
      [class*='ant-modal-'][class*='-paragraph'] {
        margin-top: 20px;
        margin-inline: auto;
        [class*='-title'] {
          font-size: 20px !important;
          display: block;
          margin-bottom: 8px;
        }

        [class*='-content'] {
          text-wrap: pretty;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.45);
          margin-bottom: 15px;
        }
      }
    }
  }
}
